* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

/* korean type*/

@font-face {
    font-family: 'Gothic A1';
    src: url("../fonts/GothicA1-Light.ttf") format("truetype");
    font-weight: 100;
} 

@font-face {
    font-family: "Gothic A1";
    src: url("../fonts/GothicA1-Regular.ttf") format("truetype");
    font-weight: 200;
} 

/* chinese fallback */

@font-face {
    font-family: "Noto Sans";
    src: url("../fonts/NotoSansSC-Regular.otf") format("opentype");
    font-weight: 200;
} 

/* latin fallback */

@font-face {
    font-family: 'Poppins';
    font-weight: 100;
    src: url("../fonts/Poppins-Light.ttf") format("truetype");
}

@font-face {
    font-family: 'Poppins';
    font-weight: 200;
    src: url("../fonts/Poppins-Regular.ttf") format("truetype");
}


/* variables */

:root {
  --main-color: #bfe62b;
}

:root {
  --highlight-color: #e22028;
}

/* typography */

body {
    font-family: PingFangSC-Light, 'Poppins', Arial, Helvetica, sans-serif;
    background: black;
    color: white;
    font-weight: 100;
}

h1, h2 {
    font-weight: 100;
}

#text, #overlay h2, #artist-page h1, #artist-page h2 {
    font-size: 108px;
    line-height: 144px;
}

#text {
    text-transform: uppercase;
    letter-spacing: 1px;
}

#text #statement, #text #credits, #text #statement .english {
    font-family: PingFangSC-Regular, 'Poppins', Arial, Helvetica, sans-serif;
    text-transform: none;
    letter-spacing: 0px;
    text-align: left;
}

#enter, #mobile-message {
    font-size: 14px;
    font-family: PingFangSC-Semibold, 'Poppins', Arial, Helvetica, sans-serif;
}

#text #statement .korean {
    font-family: 'Gothic A1';
    font-weight: 200;
}

#text #statement .chinese {
    font-family: PingFangSC-Regular, 'Noto Sans';
    font-weight: 200;
}

#text #statement {
    font-size: 60px;
    line-height: 80px;
    font-weight: 200: 
}

#text #credits {
    font-size: 30px;
    line-height: 40px;
}

.title {
    font-size: 28px;
    padding-bottom: 20px;
    text-transform: uppercase;
    letter-spacing: 1px;
}

a {
    color: white;
    /*color: black;*/
    text-decoration: none;
}

a:hover {
    color: rgba(255,255,255,1);
    text-shadow: 0px 0px 40px var(--highlight-color);
}

#enter{
    position: fixed;
    top: 20px;
    left: 20px;
    z-index: 10000;    
    left: auto;
    right: 20px;
}

#enter a{
    border-radius: 100%;
    border: 2px solid white;
    padding: 8px 10px;
}

/* hide mobile message on desktop */

#mobile-message {
    position: relative;
    margin: 20px 20px 0px;
    display: block;
    z-index: 10000000;    
    border-radius: 100%;
    border: 2px solid white;
    padding: 8px 24px;
    text-align: center;
}

#mobile-message {
    display: none;
}

#cca-logo {
    position: fixed;
    bottom: 15px;
    left: 20px;

    z-index: 100000;
}

#cca-logo img {
    width: 80px;
    height: auto;    
}


/* main text column */

#text {
    position: relative;
    z-index: 100;
    padding: 100px 100px 200px;
    width: 100vw;
    text-align: center;
    z-index: 1;
    /*color: rgba(255,255,255,.9);*/
}

#text #statement, #text #credits {
    max-width: 1200px;
    margin: auto;
    /*color: rgba(255,255,255,0.9);*/
}

p {
    margin-bottom: 80px;
}

#text img {
    max-height: 90px;
    width: auto;
    display: inline-block;
}

#button {
    border: 4px solid white;
    border-radius: 100%;
    margin-bottom: 120px;
    padding: 0px 60px;
    /*background: rgba(255,255,255,0.1);*/
}

#button:hover {
    background: rgba(255,255,255,0.2); 
    box-shadow: 0px 0px 20px var(--highlight-color);
}

.color {
    color: var(--main-color);    
}

/* click to show student work */

.image {
    cursor: pointer;
}

.image:hover {
    text-shadow: 0px 0px 20px rgba(0,0,0,.5);
}

#text #statement, #text #credits {
    max-width: 1200px;
    margin: auto;
}

#text #statement p {
    margin-bottom: 36px;
}

#statement {
    margin-bottom: 120px;
}

.translation {
    padding-bottom: 120px;
}

.translation:after {
    content: '—';
}

#text #credits {
    padding-top: 100px;
    display: flex;
    align-items: top;
    width: 100%;
    /*text-align: left;*/
}

#text #credits ul {
    flex: 1;
}

#credits ul {
    list-style-type: none;
}

#credits ul li.title{
    padding-bottom: 20px;
}

/*.credits ul li.title::before{
    content: '';
}

.credits ul li::before{
    content: '✳︎';
*/}

.credits ul li{
    padding-bottom: 11px;
}

/* three js canvas */

canvas {
    position: fixed;
    z-index: 0;
    top: 0px;
    left: 0px;
}

/* artist page */


#student-work {
    min-height: calc(100vh);
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(0deg, rgba(0,0,0,.8) 0%, rgba(0,0,0,.1) 20%, rgba(0,0,0,.2) 80%, rgba(0,0,0,.8) 100%);
    z-index: 100;
    pointer-events: none;
}

#artist-page h1 {
    position: absolute;
    top: 10px;
    left: 20px;
}

#artist-page h2 {
    color: var(--main-color);    
    position: absolute;
    bottom: 10px;
    right: 20px;
    text-align: right;
}

#embed iframe{
    width: calc(50vw - 80px);
    height: calc(50vw - 80px);
    border: none;

    width: 100vw;
    height: 100vh;    
    position: fixed;    
    z-index: 0;
    /*position: sticky;
    top: 40px;*/
}

#artist-page #text {
    background: rgba(0,0,0,.8);
}

@media screen and (max-width: 1400px){

    #text, #overlay h2, #artist-page h1, #artist-page h2 {
        font-size: 108px;
        line-height: 144px;
    }

    #text {
        letter-spacing: 1px;
    }

}


@media screen and (max-width: 1200px){

    #text, #overlay h2, #artist-page h1, #artist-page h2 {
        font-size: 90px;
        line-height: 120px;
    }

    #text {
        letter-spacing: 1px;
    }

    #text #statement, #text #credits{
        font-size: 24px;
        line-height: 36px;
        max-width: calc(100vw - 40px);
    }

    .title {
        font-size: 22px;
        padding-bottom: 18px;
        letter-spacing: 1px;
    }

    #text #statement p {
        margin-bottom: 24px;
    }

}

@media screen and (max-width: 1000px){

    #text {
        padding: 100px 20px;
    }

    #text, #overlay h2, #artist-page h1, #artist-page h2 {
        font-size: 48px;
        line-height: 64px;
    }

    #text {
        letter-spacing: 1px;
    }

    #text img {
        max-height: 40px;
    }

    #text #statement, #text #credits {
        max-width: 100%;
    }

    #text #statement p {
        margin-bottom: 24px;
    }    

    canvas {
        pointer-events: none;
    }

    .parent {
        display: block;
        hyphens: none;
    }

    .box {
        padding: 40px;
        width: 100vw;
        height: auto;
    }    
}

@media screen and (max-width: 800px){

    #text, #overlay h2, #artist-page h1, #artist-page h2 {
        font-size: 24px;
        line-height: 36px;
    }

    #text {
        letter-spacing: 0px;
    }

    #text img {
        max-height: 30px;
    }

    #text #credits {
        display: block;
    }

    #text #credits ul {
        margin-bottom: 48px;
    }
    
    #text #statement, #text #credits {
        font-size: 16px;
        line-height: 24px;
    }

    .title {
        font-size: 14px;
        padding-bottom: 12px;
        letter-spacing: 1px;
    }    

    #text #statement p {
        margin-bottom: 14px;
    }

    canvas {
        opacity: .8;
    }

    #button {
        border: 3px solid white;
    }

    #cca-logo img {
        width: 50px;
        height: auto;    
    }

}

@media screen and (max-width: 800px) {
    #enter, #button {
        display: none;
    }
    
    #mobile-message{
        display: block;
    }    
}

@media screen and (max-width: 800px) and (hover: hover) {
    #enter, #button {
        display: inline;
    }
}