* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}


/* korean type*/

@font-face {
    font-family: 'Gothic A1';
    src: url("../fonts/GothicA1-Light.ttf") format("truetype");
    font-weight: 100;
} 

@font-face {
    font-family: "Gothic A1";
    src: url("../fonts/GothicA1-Regular.ttf") format("truetype");
    font-weight: 200;
} 

/* chinese fallback */

/*@font-face {
    font-family: "Noto Sans";
    src: url("../fonts/NotoSansSC-Regular.otf") format("opentype");
    font-weight: 200;
} 
*/
/* latin fallback */

@font-face {
    font-family: 'Poppins';
    font-weight: 100;
    src: url("../fonts/Poppins-Light.ttf") format("truetype");
}

@font-face {
    font-family: 'Poppins';
    font-weight: 200;
    src: url("../fonts/Poppins-Regular.ttf") format("truetype");
}


/* variables */

:root {
  --main-color: #bfe62b;
}

:root {
  --highlight-color: rgb(226,32,40);
  --highlight-color: rgb(255,255,255);
}

/* typography */

body {
    font-family: PingFangSC-Light, 'Poppins', Arial, Helvetica, sans-serif;
    background: black;
    color: white;
    font-weight: 100;
}

h1, h2 {
    font-weight: 100;
}

.center {
    text-align: center;
}

#text, #overlay h2, #artist-page h1, #artist-page h2 {
    font-size: 108px;
    line-height: 144px;
}

#artist-page h1, #artist-page h2 {
    line-height: 108px;
}

#text {
    text-transform: uppercase;
    letter-spacing: 1px;
}

#text #statement, #text #credits, #text #statement .english, #game-message {
    font-family: PingFangSC-Regular, 'Poppins', Arial, Helvetica, sans-serif;
    text-transform: none;
    letter-spacing: 0px;
    text-align: left;
}

#enter, #back, #mobile-message, #jump-to-statement, #enter-game {
    font-size: 14px;
    font-family: PingFangSC-Semibold, 'Poppins', Arial, Helvetica, sans-serif;
}

#text #statement .korean, .korean {
    font-family: 'Gothic A1';
    font-weight: 200;
}

#text #statement .chinese {
    font-family: 'Noto Sans SC', PingFangSC-Regular, 'Noto Sans SC';
    font-weight: 200;
}

#text #statement {
    font-size: 60px;
    line-height: 80px;
    font-weight: 200: 
}

#text #credits, #game-message {
    font-size: 30px;
    line-height: 40px;
}

#credits .group {
    text-transform: uppercase;
    font-size: 22px;
    letter-spacing: 2px;
}

.title {
    font-size: 28px;
    padding-bottom: 20px;
    text-transform: uppercase;
    letter-spacing: 1px;
}

a {
    color: white;
    /*color: black;*/
    text-decoration: none;   
}

a:hover {
    cursor: pointer;
    color: rgba(255,255,255,1);
    text-shadow: 0px 0px 40px var(--highlight-color);
}

#student-links a {
    color: rgba(255,255,255,.75);
}

#student-links a:hover {
    color: rgba(255,255,255,1);
}

#enter, #back {
    position: fixed;
    top: 25px;
    right: 20px;
    z-index: 10000;   
    border-radius: 100%;
    border: 2px solid white;
    padding: 10px 16px;
}

#back::before {
    content: '← ';
}

#jump-to-statement {
    position: absolute;
    top: calc(100vh - 80px);
    top: calc(var(--vh, 1vh) * 100 - 80px);    
    left: 50%;
    transform: translateX(-50%);
    z-index: 10000;

    border-radius: 100%;
    border: 2px solid white;
    padding: 12px 30px;
    text-align: center;
}

#jump-to-statement::after {
    display: inline-block;
    content: "↓";
}

/* hide mobile message on desktop */

#mobile-message {
    position: relative;
    margin: 20px 20px 0px;
    display: block;
    z-index: 10000000;    
    border-radius: 100%;
    border: 2px solid white;
    padding: 8px 24px;
    text-align: center;
}

#mobile-message {
    display: none;
}

#cca-logo {
    position: fixed;
    bottom: 15px;
    left: 20px;

    z-index: 100000;
}

#cca-logo img {
    width: 80px;
    height: auto;    
}


/* main text column */

#text {
    position: relative;
    z-index: 100;
    padding: 100px 100px 200px;
    width: 100vw;
    text-align: center;
    z-index: 1;
    /*color: rgba(255,255,255,.9);*/
}

#text #statement, #text #credits {
    max-width: 1200px;
    margin: auto;
    /*color: rgba(255,255,255,0.9);*/
}

p {
    margin-bottom: 80px;
}

#text img {
    max-height: 90px;
    width: auto;
    display: inline-block;
}

#button {
    border: 4px solid white;
    border-radius: 100%;
    margin-bottom: 120px;
    padding: 0px 60px;
    transition: 300ms ease;
    /*background: rgba(255,255,255,0.1);*/
}

#button:hover, #enter:hover, #back:hover, #enter-game:hover, #jump-to-statement:hover {
    background: rgba(255,255,255,0.2); 
    box-shadow: 0px 0px 20px var(--highlight-color);
    cursor: pointer;
}

.color {
    color: var(--main-color);    
}

/* click to show student work */

.image {
    cursor: pointer;
}

.image:hover {
    text-shadow: 0px 0px 20px rgba(0,0,0,.5);
}

#text #statement, #text #credits {
    max-width: 1200px;
    margin: auto;
}

#text #statement p {
    margin-bottom: 36px;
}

#statement {
    margin-bottom: 120px;
}

.translation {
    padding-bottom: 120px;
}

.translation:after {
    content: '—';
}

#text #credits {
    padding-top: 100px;
    display: flex;
    align-items: top;
    width: 100%;
    /*text-align: left;*/
}

#credits img {
    display: inline-block;
    height: 30px;
    vertical-align: sub;
}

/* three js canvas */

canvas {
    position: fixed;
    z-index: 0;
    top: 0px;
    left: 0px;
}

/* artist page */


#student-work {
    min-height: calc(100vh);
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(0deg, rgba(0,0,0,.3) 0%, rgba(0,0,0,.1) 20%, rgba(0,0,0,.2) 80%, rgba(0,0,0,.8) 100%);
    z-index: 100;
    pointer-events: none;
}

.title {
    position: absolute;
    top: 10px;
    left: 20px;
}

#artist-page #statement {
    padding-top: 100px;
}

/*#artist-page h1 {
    position: absolute;
    top: 10px;
    left: 20px;
}*/

#artist-page h2 {
    color: var(--main-color);    
/*    position: absolute;
    bottom: 10px;
    right: 20px;
    text-align: right;*/
}

#embed iframe{
    border: none;
    width: 100vw;
    height: 100vh;    
    height: calc(var(--vh, 1vh) * 100);
    position: fixed;    
    z-index: 0;
    /*position: sticky;
    top: 40px;*/
}

#artist-page #text {
    background: rgba(0,0,0,.8);
    background: linear-gradient(0deg, rgba(0,0,0,.8) 0%, rgba(0,0,0,.8) 95%, rgba(0,0,0,.3) 100%);    
}

video {
    width: 100%;
    height: auto;
}

/* game */

#experience iframe {
    position: fixed;
    width: 100vw;
    height: 100vh;
    z-index: 1;
}

#overlay {
    width: 130vw;
    height: 120vh;
    top: -10vh;
    left: -15vw;
    position: fixed;
    background: radial-gradient(ellipse, rgba(255,255,255,0) 64%, rgba(255,255,255,.8) 66%, rgba(0,0,0,1) 70%);
    z-index: 10;
    display: flex;
    align-items: center;
    justify-content: center;
}

#game-message {
    width: 100vw;
    height: 100vh;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(0,0,0,.85);
    transition: opacity 1000ms ease;
}

#game-text {
    width: 960px;
    max-width: calc(100vw - 40px);
}

#game-text p{
    margin-bottom: 40px;
}

#enter-game {
    border-radius: 100%;
    border: 2px solid white;
    padding: 10px 16px;    
}

#overlay.dismiss {
    pointer-events: none;    
}

#overlay.dismiss #game-message {
    opacity: 0;
}

@media screen and (max-width: 1400px){

    #text, #overlay h2, #artist-page h1, #artist-page h2 {
        font-size: 108px;
        line-height: 144px;
    }

    #artist-page h1, #artist-page h2 {
        line-height: 108px;
    }    

    #text {
        letter-spacing: 1px;
    }

}


@media screen and (max-width: 1200px){

    #text, #overlay h2, #artist-page h1, #artist-page h2 {
        font-size: 90px;
        line-height: 120px;
    }
    
    #artist-page h1, #artist-page h2 {
        line-height: 90px;
    }    

    #text {
        letter-spacing: 1px;
    }

    #text #statement, #text #credits{
        font-size: 24px;
        line-height: 36px;
        max-width: calc(100vw - 40px);
    }

    #credits .group {
        font-size: 19px;
        letter-spacing: 1px;
    }

    #credits img {
        height: 26px;
    }

    .title {
        font-size: 22px;
        padding-bottom: 18px;
        letter-spacing: 1px;
    }

    #text #statement p {
        margin-bottom: 24px;
    }

}

@media screen and (max-width: 1000px){

    #text {
        padding: 100px 20px;
    }

    #text, #overlay h2, #artist-page h1, #artist-page h2 {
        font-size: 48px;
        line-height: 64px;
    }

    #artist-page h1, #artist-page h2 {
        line-height: 48px;
    }    

    #text {
        letter-spacing: 1px;
    }

    #text img {
        max-height: 40px;
    }

    #text #statement, #text #credits {
        max-width: 100%;
    }

    #text #statement p {
        margin-bottom: 24px;
    }    

    canvas {
        pointer-events: none;
    }

    .parent {
        display: block;
        hyphens: none;
    }

    .box {
        padding: 40px;
        width: 100vw;
        height: auto;
    }    
}

@media screen and (max-width: 800px){

    #enter, #back {
        top: 10px;
        right: auto;
        left: 15px;
    }

    #text, #overlay h2, #artist-page h1, #artist-page h2 {
        font-size: 32px;
        line-height: 40px;
    }

    .title {
        top: 70px;
    }

    #artist-page h1, #artist-page h2 {
        line-height: 32px;
    }

    #text {
        padding: 60px 10px;
        letter-spacing: 0px;
    }

    p {
        margin-bottom: 40px;
    }

    #text img {
        max-height: 30px;
    }

    #text #credits {
        display: block;
    }

    #text #credits ul {
        margin-bottom: 48px;
    }
    
    #text #statement, #text #credits {
        font-size: 20px;
        line-height: 28px;
    }

    #credits .group {
        font-size: 16px;
    }    

    #credits img {
        height: 24px;
    }

    .title {
        font-size: 14px;
        padding-bottom: 12px;
        letter-spacing: 1px;
    }    

    #text #statement p {
        margin-bottom: 14px;
    }

    canvas {
        opacity: .6;
    }

    #button {
        border: 3px solid white;
    }

    #cca-logo img {
        width: 50px;
        height: auto;    
    }

    #jump-to-statement {
        top: calc(100vh - 120px);
        top: calc(var(--vh, 1vh) * 100 - 120px);    
    }

    #jump-to-statement::after {
        display: block;
        content: "↓";
    }    

}

@media screen and (max-width: 800px) {
    #enter, #button {
        display: none;
    }
    
    #mobile-message{
        display: block;
    }    
}

@media screen and (max-width: 800px) and (hover: hover) {
    #enter, #button {
        display: inline;
    }
}